# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
*.log

# VS Code
.vscode/
*.code-workspace
.history/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Project specific
*.db
*.sqlite3
.DS_Store

# Environment variables
.env
*.env

# IDE
.idea/
*.swp
*.swo
*~

#terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl